@model Beauty.Web.Models.UpdatePasswordModel

@{
    ViewBag.Title = "UpdatePassword";
}

@Html.Partial("NavSub")



@using (Html.BeginForm("updatepassword", "account", FormMethod.Post, new { @class = "form-horizontal margintop" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-error" })

     <div class="control-group">
        @*<label class="control-label" for="inputEmail">Email</label>*@
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div class="controls">
            @*<input type="text" id="inputEmail" placeholder="Email">*@
            @Html.PasswordFor(m => m.OldPassword)

        </div>
    </div>
    <div class="control-group">
        @*<label class="control-label" for="inputEmail">Email</label>*@
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @*<input type="text" id="inputEmail" placeholder="Email">*@
            @Html.PasswordFor(m => m.NewPassword)

        </div>
    </div>
    <div class="control-group">
        @*<label class="control-label" for="inputEmail">Email</label>*@
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @*<input type="text" id="inputEmail" placeholder="Email">*@
            @Html.PasswordFor(m => m.ConfirmPassword)

        </div>
    </div>
    <div class="control-group">
        <div class="controls">
    <input type="submit" value="提交" class="btn" /> 
            </div>
    </div>
}


<script>
    $(function () {

        $("ul[class='nav'] li[class!='dropdown']").removeClass();
        $("ul[class='nav'] li:eq(5)").addClass("active");

        $("ul[class='nav nav-pills'] li:eq(5)").addClass("active");
    })

</script>