@model Beauty.Web.Page.PagedList<Beauty.Model.Notice>
@using Beauty.Web.Page
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    }

@Html.Partial("Admin_NavSub")
<table class="table table-bordered table-hover table-condensed text-center">
        <thead>
            <tr>
              
                <th class="centerandmiddle">公告内容</th>
                <th class="centerandmiddle">时间</th>
          
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                  
                    <td class="centerandmiddle"><a href="/admin/noticeedit?id=@Model[i].ID">@Model[i].Msg</a> </td>
                    <td class="centerandmiddle">@Model[i].Createtime</td>
                   
                </tr>
            }

        </tbody>

    </table>
    <div class="pagination">

        @Html.Pager(Model)
       <div class="pull-right">
          
             @Html.ActionLink("创建", "noticeadd", "admin", null, new {@class="btn" })
        </div>
    </div>


<script>

    $(function () {
        $(function () {
            $("ul[class='nav'] li[class!='dropdown']").removeClass();
            $("ul[class='nav'] li:eq(3)").addClass("active");

            $("ul[class='nav nav-pills'] li:eq(1)").addClass("active");
        })
    })
</script>
