@model Beauty.Web.Page.PagedList<Beauty.Model.RequstMoney>
@using Beauty.Web.Page

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

  <ul class="nav nav-pills">
      <li >
        <a href="/admin/RequestMoneyNodeal">未处理</a>
      </li>
      <li class="active"><a href="/admin/RequestMoneydeal">已处理</a></li>
    
    </ul>
<table class="table table-bordered table-hover table-condensed text-center">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th class="centerandmiddle">用户名</th>
                <th class="centerandmiddle">提现金额</th>
                <th class="centerandmiddle">时间</th>
                <th class="centerandmiddle">消息</th>

            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="hidden">
                        @Html.TextBoxFor(m => m[i].ID)   
                    </td>
                    <td class="centerandmiddle">@Model[i].Username  </td>
                   
                    <td class="centerandmiddle">@Model[i].Money</td>
                    <td class="centerandmiddle">@Model[i].Createtime</td>
                    <td class="centerandmiddle">@Model[i].Msg</td>
             
                </tr>
            }

        </tbody>

    </table>
    <div class="pagination">

        @Html.Pager(Model)
          
    </div>
    
<script>

    $(function () {
        $(function () {
            $("ul[class='nav'] li[class!='dropdown']").removeClass();
            $("ul[class='nav'] li:eq(4)").addClass("active");

        })

       
    })
</script>